<%- include('./partials/head') %>
<script src="/script.js"></script>
<header>
</header>

<main>
  <h1>HALLO</h1>
  <form action="/" method="post">
    <% if (data && data.length > 0) { %>
      <% data.forEach(item => { %>
        <div class="item">
          <input type="radio" id="<%= item.id %>" name="selectedItem" value="<%= item.id %>">
          <label for="<%= item.id %>">
            <h1 class="id"><%= item.id %></h1>
            <p><strong>Title:</strong> <%= item.title %></p>
            <p><strong>Description:</strong> <%= item.description %></p>
          </label>
        </div>
      <% }); %>
      <button type="submit">Submit</button>
    <% } %>
  </form>
</main>

<footer>
</footer>

<%- include('./partials/foot') %>



